.App {
  text-align: center;
}

header{
  background-color: #6E8387;
}

footer{
  background-color: #6E8387;
}

body{
  background-color: #C8D3D5;
}

.card{
  border: solid 2px black;
  margin: 20px;


}

.cardImage{
  margin: 10px;
  width: 90%;

}